.pika-single { z-index: 9999; display: block; position: relative; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: solid; border-width: 1px; border-image: none 100% / 1 / 0 stretch; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }
.pika-single::after, .pika-single::before { content: " "; display: table; }
.pika-single::after { clear: both; }
.pika-single { }
.pika-single.is-hidden { display: none; }
.pika-single.is-bound { position: absolute; box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px -5px; }
.pika-lendar { float: left; width: 240px; margin: 8px; }
.pika-title { position: relative; text-align: center; }
.pika-label { display: inline-block; position: relative; z-index: 9999; overflow: hidden; margin: 0px; padding: 5px 3px; font-size: 14px; line-height: 20px; font-weight: 700; background-color: rgb(255, 255, 255); }
.pika-title select { cursor: pointer; position: absolute; z-index: 9998; margin: 0px; left: 0px; top: 5px; opacity: 0; }
.pika-next, .pika-prev { display: block; cursor: pointer; position: relative; outline: currentcolor none medium; border: 0px none; padding: 0px; width: 20px; height: 30px; text-indent: 20px; white-space: nowrap; overflow: hidden; background-color: transparent; background-position: 50% center; background-repeat: no-repeat; background-size: 75% 75%; opacity: 0.5; }
.pika-next:hover, .pika-prev:hover { opacity: 1; }
.is-rtl .pika-next, .pika-prev { float: left; background-image: url(""); }
.is-rtl .pika-prev, .pika-next { float: right; background-image: url(""); }
.pika-next.is-disabled, .pika-prev.is-disabled { cursor: default; opacity: 0.2; }
.pika-select { display: inline-block; }
.pika-table { width: 100%; border-collapse: collapse; border-spacing: 0px; border: 0px none; }
.pika-table td, .pika-table th { width: 14.2857%; padding: 0px; }
.pika-table th { color: rgb(153, 153, 153); font-size: 12px; line-height: 25px; font-weight: 700; text-align: center; }
.pika-button { cursor: pointer; display: block; box-sizing: border-box; outline: currentcolor none medium; border: 0px none; margin: 0px; width: 100%; padding: 5px; color: rgb(102, 102, 102); font-size: 12px; line-height: 15px; text-align: right; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.pika-week { font-size: 11px; color: rgb(153, 153, 153); }
.is-today .pika-button { color: rgb(51, 170, 255); font-weight: 700; }
.has-event .pika-button, .is-selected .pika-button { color: rgb(255, 255, 255); font-weight: 700; background: rgb(51, 170, 255) none repeat scroll 0% 0%; box-shadow: rgb(23, 143, 229) 0px 1px 3px inset; border-radius: 3px; }
.has-event .pika-button { background: rgb(0, 93, 169) none repeat scroll 0% 0%; box-shadow: rgb(0, 118, 201) 0px 1px 3px inset; }
.is-disabled .pika-button, .is-inrange .pika-button { background: rgb(213, 233, 247) none repeat scroll 0% 0%; }
.is-startrange .pika-button { color: rgb(255, 255, 255); background: rgb(108, 179, 29) none repeat scroll 0% 0%; box-shadow: none; border-radius: 3px; }
.is-endrange .pika-button { color: rgb(255, 255, 255); background: rgb(51, 170, 255) none repeat scroll 0% 0%; box-shadow: none; border-radius: 3px; }
.is-disabled .pika-button { pointer-events: none; cursor: default; color: rgb(153, 153, 153); opacity: 0.3; }
.is-outside-current-month .pika-button { color: rgb(153, 153, 153); opacity: 0.3; }
.is-selection-disabled { pointer-events: none; cursor: default; }
.pika-button:hover, .pika-row.pick-whole-week:hover .pika-button { color: rgb(255, 255, 255); background: rgb(255, 128, 0) none repeat scroll 0% 0%; box-shadow: none; border-radius: 3px; }
.pika-table abbr { border-bottom: medium none; cursor: help; }
